body {
    margin: 0;
    font-family: "Lucida Grande";
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}


/* awal css header */

header {
    height: 60px;
    width: 100%;
    background-color: rgb(45, 86, 116);
    opacity: 0.9;
    z-index: 10;
    position: fixed;
    top: 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.logo {
    height: 40px;
    margin-top: 10px;
}

.header-left {
    float: left;
    padding-left:80px;
}

.header-right {
    float: right;
    padding-right: 80px;
    line-height: 60px;
}

.fa.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    display:none;
    line-height: 60px;
    cursor: pointer;
  }

.header-list a {
    padding: 0 30px;
    /* margin: 0 10px; */
    color: white;
    transition: all 0.5s;
    /* border-radius: 5px; */
    text-shadow: 3px 2px 1px rgba(0, 0, 0, 0.397);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    display:inline-block;
    text-transform: uppercase;
}

.header-list a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

#check{
    display: none;
}
/* akhir css header */


/* css jumbotron */

.jumbotron {
    font-family: 'Montserrat', sans-serif;
    padding: 120px 100px 20px 100px;
    background-image: url(../img/background-img.svg);
    background-size: cover;
    display: flex;
}

.jumbotron .konten {
    width:50%;
    flex:auto;
}

.jumbotron h1 {
    font-size: 45px;
    letter-spacing: 3px;
    margin-top: 50px;
    margin-bottom: 10px;
    color: #2D5674;
}

.jumbotron h2 {
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 10px;
    color:#2D5674;
}

.jumbotron p {
    font-weight: 400;
}

.jumbotron img {
    width:90%;
    /* height: 300px; */
} 

.btn-wrapper {
    margin: 60px 0;
}

.jumbotron .btn{
    font-family: 'Montserrat', sans-serif;
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.7;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    transition: all .4s;
}

.jumbotron .btn:hover {
    opacity:1;
}

.find-more {
    background-color: #3b5998;
    margin-right: 10px;
}



/* css about-us*/
.about-us {
  padding: 100px 80px;
  font-family: 'Montserrat', sans-serif;
  margin: 0  auto;
  background: #fff;
  display: flex;
}

.about-us .konten {
    width: 50%;
    flex:auto;
}

.about-us img {
    width: 100%;
}

.about-us h2 {
  font-size: 35px;
  margin-top: 10px;
  color:#2D5674;
}

.about-us p {
  font-weight: 400;
  line-height: 2;
}

.anggota {
    padding: 80px;
}

.anggota h2 {
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 30px;
    color:#2D5674;
    text-align: center;
}

.anggota .konten {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.anggota .konten .card {
    color: white;
    padding: 5px 0;
    flex:auto;
    margin: 10px;
    width: 30%;
    /* margin: 10 auto; */
    background-color: #3b5998;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    opacity: .7;
    text-align: center;
}

.anggota .konten .card:hover {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

.anggota .konten .card h5 {
    font-size: 18px;
}

.anggota .konten .card p {
    font-size: 14px;
}

/* awal footer */
footer {
    font-family: 'Montserrat', sans-serif;
}

.footer-content {
    background: #56566d;
    color: #d3d3d3;
    height: 250px;
    padding: 40px 80px;
}

.footer-content {
    display: flex;
}

.footer-section {
    flex: auto;
}

.footer-section .logo {
    height: 70px;
}

.footer-content a {
    color: white;
}

.footer-section.about {
    font-size:14px;
}

.footer-section.link a {
    display:inline-block;
    opacity: .7;
    padding-bottom: 10px;
}

.footer-section.link a:hover {
    opacity:1;
}

.footer-content .social {
    padding-top:15px;
}

.footer-content .social a {
    height: 40px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    font-size: 22px;
    color:white;
    opacity: .7;
}

.footer-content .social a:hover {
    opacity:1;
}

.contact-input {
    background: white;
    color: black;
    margin-bottom: 10px;
    line-height: 1.5px;
    padding: 20px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    display: block;
}

.footer-section .btn {
    border : 2px solid white;
    color: black;
    display: block;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    background-color: rgba(0,0,0,0);
    transition: all 0.3s;
    cursor: pointer;
}

.footer-section .btn:hover {
    background-color: white;
    color:#56566d;
}

.footer-section textarea {
    padding: 30px;
    margin-top: 5px;
} 

.footer-bottom {
    background: #3d3d3d;
    text-align: center;
    height: 60px;
    border-top: 1px solid rgb(250, 93, 93);
    font-size: 14px;
    line-height: 60px;
    color: white;
}

/* akhir footer */
